@charset "UTF-8";
/* ========================================
ニュース、コンテンツ記事
======================================== */
#wrapper {
  overflow: hidden;
}

#main {
  position: relative;
  padding: min(60px, 5vw) 0 0;
}
#main .sectionBg {
  overflow: visible;
}
#main .contentBg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 1920px;
}
#main .contentBg__01 {
  position: absolute;
  top: 80px;
  left: 10px;
}
#main .contentBg__02 {
  position: absolute;
  top: 160px;
  left: 60px;
}
#main .contentBg__03 {
  position: absolute;
  bottom: 300px;
  left: 45%;
}
#main .contentBg__04 {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(max(-700px, -70vw));
}
#main .contentBg__title {
  position: absolute;
  bottom: 0px;
  left: 10px;
  max-width: 60%;
}
@media screen and (min-width: 1500px) {
  #main__01 {
    left: auto;
    right: calc(50% + 500px);
  }
  #main__02 {
    left: auto;
    right: calc(50% + 440px);
  }
}

#cms_block,
#news_block {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px 50px;
  min-height: 500px;
}
#cms_block > div[class^=page_],
#news_block > div[class^=page_] {
  margin-bottom: 5em;
}
@media screen and (max-width: 1380px) {
  #cms_block,
#news_block {
    padding-right: 90px;
  }
}
@media screen and (max-width: 1023px) {
  #cms_block,
#news_block {
    padding-right: 20px;
  }
}

/*
   見出し
======================== */
.colorHead {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 90px 0 0;
  width: min(1900px, 100%);
  margin: 36px auto 30px;
}
.colorHead__logo {
  width: min(460px, 50%);
  padding-left: 20px;
}
.colorHead__cat {
  padding-right: 20px;
}
.colorHead__cat img {
  max-height: 20vw;
  height: 124px;
}
@media screen and (max-width: 1023px) {
  .colorHead {
    padding-right: 60px;
  }
}
@media screen and (max-width: 767px) {
  .colorHead {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 0px;
    display: block;
  }
  .colorHead__logo {
    margin: auto auto 10px 3vw;
    padding: 0;
  }
  .colorHead__cat {
    padding-right: 0px;
    text-align: center;
  }
}

.articleHead {
  margin: 2em 0 1.2em;
  line-height: 1.4;
}

h2.articleHead {
  font-size: 2rem;
  line-height: 1.6em;
}
h2.articleHead > span {
  background: linear-gradient(transparent 0.8em, rgba(197, 139, 224, 0.2) 0);
}

h3.articleHead {
  font-size: 1.8rem;
  padding-bottom: 1em;
  background: linear-gradient(to right, #777777 3px, transparent 3px) bottom left/6px 2px repeat-x;
}

h4.articleHead {
  font-size: 1.8rem;
}

h5.articleHead {
  font-size: 1.6rem;
}

h6.articleHead {
  font-size: 1.6rem;
}

body:not(#layout4) .articleHead {
  margin: 2em 0 1.2em;
  line-height: 1.4;
}
body:not(#layout4) h2.articleHead {
  font-size: 2rem;
  line-height: 1.6em;
}
body:not(#layout4) h2.articleHead > span {
  background: linear-gradient(transparent 0.8em, rgba(197, 139, 224, 0.2) 0);
  padding: 0 0.5em;
}
body:not(#layout4) h3.articleHead {
  font-size: 1.8rem;
  padding-bottom: 1em;
  background:
    linear-gradient(to right, transparent 3px, #ea6094 3px) bottom left/6px 2px repeat-x,
    linear-gradient(to right, #777777 3px, transparent 3px) bottom 2px left/6px 2px repeat-x;
  border: none;
}

body:not(#layout4) h4.articleHead {
  font-size: 1.8rem;
}
body:not(#layout4) h5.articleHead {
  font-size: 1.6rem;
}
body:not(#layout4) h6.articleHead {
  font-size: 1.6rem;
}

#js-newsDate {
  font-size: 1.4rem;
  margin: 0;
  color: #b889b2;
}
#js-newsDate + h2.articleHead {
  margin-top: 1.2em;
}

.linkButton {
  text-align: center;
}
.linkButton a {
  display: inline-block;
  min-width: 250px;
  border-radius: 10px;
  line-height: 1.2;
  padding: 0.5em 1em;
  background: #c58be0;
  color: #fff;
  text-decoration: none;
}

/* ***************
  NEWS
*************** */
#news_block #list_01 {
  font-size: 1.4rem;
  padding-left: 76px;
}
#news_block #list_01 table, #news_block #list_01 tbody, #news_block #list_01 th, #news_block #list_01 td {
  display: block;
}
#news_block #list_01 tr {
  display: flex;
  min-height: 76px;
  padding: 1em 0;
  background: linear-gradient(to right, #b889b2 3px, transparent 3px) bottom left/7px 1px repeat-x;
}
#news_block #list_01 tr .day {
  flex-shrink: 0;
  width: 7em;
  color: #b889b2;
}
#news_block #list_01 a {
  color: inherit;
  text-decoration: inherit;
}
@media screen and (max-width: 425px) {
  #news_block #list_01 {
    padding-left: 30px;
  }
  #news_block #list_01 tr {
    display: block;
  }
}

/*==============================================

  MUSIC

==============================================*/
/*navi*/
.music_navi{
  margin: 1em 0 min(5vw,3em);
}
.music_navi table,.music_navi tbody,.music_navi tr,.music_navi td{
  display:block;  
}
.music_navi tbody{
  display: flex;
  justify-content: center;
  gap: 1em;
  /* flex-direction: row-reverse; */
}
.music_navi tr{
}
.music_navi tr .title{}
.music_navi tr .title a{
  display: block;
  margin: 0 0 0.75em;
  background: #8e8e8e;
  color: #fff;
  padding: 0.4em 1em;
  line-height: 1;
  font-size: min(4vw,2.2rem);
  font-weight: 600;
  text-decoration: none;
}
.music_navi tr.is-crt .title a{
  background: #ff5f9d;
}


.c-no16 #main{
  padding: min(10px, 1vw);
}

#op.content.music{
}
.content__wrap{display: flex;flex-direction: column;align-items: center;gap: 1em;margin: 0 0 2.5em;padding: 0 0 2.5em;border-bottom: 1px dashed #939393;}
.musicTitle{/* text-align: center; */padding: 0;margin: 0;}
.musicCat{display: inline-block;margin: 0 0 0.75em;background: #ff5f9d;color: #fff;padding: 0.2em 1em;line-height: 1;font-size: 2rem;}
.musicName{font-size: min(6vw,1.3em);color: #000;margin: 0 0 0.5em;}
.musicRelease{color: #ff5f9d;}
.musicRelease strong{
  display: inline-block;
  margin: 0px 0.5em 0.0em 0;
  font-size: min(7vw,1.1em);
}
.edno{
  /* position: absolute; */
  z-index: 0;
  top: -1em;
  left: 0%;
  font-size: min(4.5vw,3rem);
  font-weight: 900;
  font-family: arial,sans-serif;
  color: #be8fd5;
  /* mix-blend-mode: color-burn; */
  line-height: 1;
  margin: 0 0 0.5em;
}
.edno::before{
  content: "ED ";
}
.musicRelease small{
  display: inline-block;
  font-size: 0.8em;
  color: #434343;
  font-weight: 500;
}
.musicRelease span{
  display: block;
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.5em;
}
.musicArtists{/* text-align: center; */}
.musicArtists p{
  font-size: min(3vw,0.7em);
  font-weight: 500;
  margin-bottom: 1.5em;
  line-height: 1.6;
}
.musicArtists p.singer{
  font-size: min(3.5vw,0.8em);
  font-weight: 600;
  margin: 0 0 1em;
  line-height: 1;
}
.musicDetail{
  display: inline-grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, auto);
  margin: 0 0;
  gap: 0em 2em;
  line-height: 1;
  padding: 0px 0em;
  /* max-width: 1000px; */
  position: relative;
}
.jktPh{/* width: 40%; */max-width: 450px;}
.musicSpec{/* flex: 1; *//* display: inline-block; *//* text-align: center; */}
.music__movie{
  width: 100%;
  max-width: 885px;
}
.music__streaming{
  background: #f9ebff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em 0;
  width: min(40vw,400px);
}
.music__streaming>p{
  margin:0 0 0 ;
}
.music__streaming small{
  font-size: min(1.7vw,0.8em);
  display: none;
}
.music__streaming a{
  display: inline-flex;
  padding: 1em 3em;
  background: #a773e9;
  color: #fff;
  text-decoration: none;
  gap: 0 1em;
  border-radius: 0.25em;
  filter: drop-shadow(0.2em 0.2em 0px #00000017);
}
.music__streaming a::before{
  content:"";
  display:block;
  background:url(../../images/main/common/icon_open_tab_wh.svg) no-repeat center / contain;
  width: 1em;
  aspect-ratio: 1/1;
}

@media screen and (max-width:600px) {
  .musicDetail{
    display: block;
    margin: 0 0;
    line-height: 1;
    padding: 0px 0em;
  }
  .musicSpec{
    margin-top: 1em;
    text-align: center;
  }
    .music__streaming{
    width: 100%;
  }
  .music__streaming small{
    font-size: 0.8em;
  }
}

/*==============================================

  SPECIAL

==============================================*/
body.color-no8 #list_06 {
  display: flex;
  gap: 3em min(2em, 5vw);
  flex-wrap: wrap;
}
body.color-no8 #list_06 .nwu_box {
  width: calc(50% - 1em);
}
body.color-no8 #list_06 .nwu_box .sm {
  filter: drop-shadow(4em 3em 10px rgba(255, 95, 157, 0.05));
  aspect-ratio: 3/2;
}
body.color-no8 #list_06 .nwu_box .sm img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
body.color-no8 #list_06 .nwu_box .title {
  margin: 0.5em 0 0 0;
}
body.color-no8 #list_06 .nwu_box .title a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 0;
  font-weight: 600;
  color: #000;
}
body.color-no8 #list_06 .nwu_box .title a > span {
  line-height: 2;
  background: linear-gradient(transparent 0.7em, rgba(197, 139, 224, 0.2) 0.7em, rgba(197, 139, 224, 0.2) 2em, transparent 2em);
  padding: 0 0.5em;
}

@media screen and (max-width: 767px) {
  body.color-no8 #list_06 .nwu_box {
    width: 100%;
  }
}

/* ***************
  2023 New Year
*************** */
.contents-no4 #header, .contents-no4 .sectionBg, .contents-no4 #footer, .contents-no4 .linkButton {
  display: none;
}
.contents-no4 .menuButton {
  background: transparent;
}
.contents-no4 .menuIcon__line {
  height: 4px;
  border-radius: 4px;
}
.contents-no4 #cms_block {
  max-width: none;
  padding: 0;
}
.contents-no4 #wrapper::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url(../../images/main/cont/special/newyear/bg_shape_head.png) center top 45px/min(1530px, 130%) no-repeat, url(../../images/main/cont/special/newyear/bg_shape_bottom.png) center bottom min(150px, 10vh)/auto min(136px, 30vw, 12vh) no-repeat, url(../../images/main/cont/special/newyear/bg.jpg) center center/cover no-repeat;
}
.contents-no4 #main {
  padding: min(45px, 8vw) 0;
}

.newyear {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr 600px 1fr;
  text-align: center;
}
.newyear::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 3000;
  background: #fff;
  transition: 1s ease;
  opacity: 0;
  pointer-events: none;
}
.newyear.-select::before {
  opacity: 1;
}
.newyear__chara {
  grid-area: 1/1/5/4;
}
.newyear__title {
  grid-area: 1/2/2/3;
  margin-bottom: 10px;
}
.newyear__logo {
  grid-area: 2/2/3/3;
  margin-bottom: 10px;
}
.newyear__body {
  grid-area: 3/2/4/3;
  width: 500px;
  max-width: 100%;
  margin: auto;
}
.newyear__result {
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  filter: drop-shadow(0 0 10px #fffbed) drop-shadow(0 0 20px #fffbed) drop-shadow(0 0 30px #fffbed);
  padding: 1em 0;
}
.newyear__result img {
  width: 400px;
  max-width: 60%;
  transform: translateY(-20px);
  opacity: 0;
  will-change: transform, opacity;
  transition: 1s ease-out;
}
.newyear__result.-active img {
  transform: translateY(0px);
  opacity: 1;
}
.newyear__icon {
  grid-area: 4/1/5/4;
}
.newyear__gohome {
  grid-area: 5/1/6/4;
  text-align: center;
  padding: 90px 0 60px;
}
@media screen and (min-width: 1400px) {
  .newyear__gohome {
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 10;
  }
}
@media screen and (max-width: 899px) {
  .newyear {
    width: 600px;
    padding: 0 10px;
    grid-template-rows: auto;
    grid-template-columns: 100%;
  }
  .newyear__title {
    grid-area: 1/1/2/2;
  }
  .newyear__logo {
    grid-area: 2/1/3/2;
    margin-top: max(-60px, -14vw);
    margin-bottom: max(-134px, -24vw);
    margin-left: max(-50px, -10vw);
    margin-right: max(-50px, -10vw);
  }
  .newyear__chara, .newyear__result {
    grid-area: 3/1/4/2;
    margin-bottom: -90px;
    position: relative;
    z-index: 50;
  }
  .-result .newyear__chara, .-result .newyear__result {
    margin-bottom: 20px;
    grid-area: 1/1/4/2;
  }
  .newyear__result {
    grid-area: 3/1/4/2;
  }
  .newyear__body {
    grid-area: 4/1/5/2;
    position: relative;
    z-index: 80;
  }
  .newyear__icon {
    grid-area: 5/1/6/2;
  }
  .newyear__gohome {
    grid-area: 6/1/7/2;
  }
}

.newyearChara {
  display: flex;
  justify-content: space-between;
}
.newyearChara > li {
  width: 345px;
}
@media screen and (max-width: 899px) {
  .newyearChara {
    display: grid;
    grid-template-columns: 1fr min(250px, 35vw) 1fr;
  }
  .newyearChara > li {
    margin: auto;
    position: relative;
    max-width: 55vw;
  }
  .newyearChara > li:nth-child(1) {
    grid-area: 1/1/2/3;
    z-index: 1;
  }
  .newyearChara > li:nth-child(2) {
    grid-area: 1/2/2/4;
    z-index: 0;
  }
}

.newyearLogo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.newyearLogo__bg, .newyearLogo__box, .newyearLogo__inn {
  grid-area: 1/1/2/2;
}
.newyearLogo__inn {
  position: relative;
  z-index: 20;
}
.newyearLogo__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.-active > .newyearLogo__box img {
  -webkit-animation: 3s steps(12) 0s infinite anim-rotate;
          animation: 3s steps(12) 0s infinite anim-rotate;
}

.newyearHead {
  margin-bottom: 20px;
}
.-result .newyearHead {
  display: none;
}

.newyearInfo {
  margin-bottom: 25px;
}

.newyearTarm {
  width: 60%;
  margin: auto auto 40px;
}

.newyearBtn {
  width: 80%;
  margin: auto auto 24px;
}
.newyearBtn button {
  transition: 0.7s;
}
.newyearBtn button:hover {
  filter: brightness(1.1) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}
.newyearBtn__tweetBt {
  display: inline-block;
  margin-bottom: 24px;
}

.linkBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 34px;
}

.iconHead {
  margin-bottom: 30px;
}

.newYearIconList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  max-width: 100%;
  margin: auto;
  gap: 40px 20px;
}
.newYearIconList li {
  width: 472px;
  max-width: calc(50% - 10px);
}
@media screen and (max-width: 600px) {
  .newYearIconList {
    justify-content: center;
  }
  .newYearIconList li {
    max-width: 100%;
  }
}

.newyearCopy {
  font-size: 1.4rem;
  text-align: center;
  padding: 2em 1em 1em;
}

@-webkit-keyframes anim-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anim-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ***************
  INTRODUCTION
*************** */
.intro {
  margin-bottom: 150px;
}
.intro__head {
  font-family: "Quicksand", "Noto Sans JP", "Noto Sans JP", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.05em;
  color: #6f6f6f;
  margin-bottom: 35px;
  text-align: center;
}
.intro__body {
  font-size: 2rem;
  line-height: 2.3em;
  color: #000;
  text-align: center;
}
.intro__body p {
  margin-bottom: 2.3em;
}
.intro__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: min(100%, 1920px);
  height: 100%;
  margin: auto;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .intro {
    margin-bottom: 60px;
  }
  .intro__body {
    font-size: min(1.8rem, 3.5vw);
  }
}

.introBold {
  font-size: 1.5em;
  font-weight: 700;
  color: #a468e7;
  margin-top: 3em;
}

.introBg {
  position: relative;
  width: 100%;
  height: 100%;
}
.introBg__01 {
  position: absolute;
  top: 27.78%;
  right: 69.27%;
}
.introBg__02 {
  position: absolute;
  top: 87.78%;
  left: 42.71%;
}
.introBg__03 {
  position: absolute;
  top: 46.67%;
  left: 77.08%;
}
/* ***************
  STORY
*************** */
.color-no5 .story, .color-no5 .tp5 {
  max-width: 920px;
  margin: auto;
}
.color-no5 .story {
  text-align: center;
}
.color-no5 .story h2.articleHead {
  font-size: min(2rem, 4vw)!important;
}
.color-no5 .story__ep {
  font-family: "Quicksand", sans;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.05em;
  padding-left: 0.05em;
  color: #4e4e4e;
}
.color-no5 .story__ep b {
  color: #ff5f9d;
}
.color-no5 .story__title {
  font-weight: 700;
  font-size: min(4rem, 5vw);
  color: #000;
  margin: 0.8em 0 0.8em;
}
.color-no5 .story__title span {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.color-no5 .story__title span::after {
  content: "";
  position: absolute;
  inset: auto -0.8em 0;
  z-index: -1;
  height: 0.6em;
  transform: translateY(30%);
  background: #c58be0;
  border-radius: 0.6em;
  opacity: 0.3;
}
.color-no5 .story__screen {
  position: relative;
}
.color-no5 .story__screen .prev_img {
  inset: 0;
  border-radius: 5px;
  overflow: hidden;
}
.color-no5 .story__screen .prev_img#prev_img0 {
  position: relative !important;
}
.color-no5 .tp5 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 4px;
}
.color-no5 .tp5 > li {
  margin: 0;
}
.color-no5 .tp5 > li .ph {
  margin: 0;
  border-radius: 3px;
  overflow: hidden;
}
.color-no5 .type_2_block {
  max-width: 870px;
  margin: 40px auto 0;
}
@media screen and (max-width: 767px) {
  .color-no5 .tp5 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.storyList {
  font-family: "Quicksand", sans;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 44px;
}
.storyList table, .storyList tbody, .storyList tr, .storyList th, .storyList td {
  display: block;
}
.storyList tbody {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.4em;
}
.storyList a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
  padding: 0 0.25em;
}
.storyList .is-crt a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.7em;
  min-width: 2.7em;
  color: #fff;
  background: linear-gradient(45deg, #ecbad7, #be96ff);
  border-radius: 2.7em;
  /* padding: 0 0.5em; */
}
@media screen and (max-width: 767px) {
  .storyList {
    font-size: 1.6rem;
  }
}

.storyStaff {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px 15px;
}
.storyStaff > dd {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .storyStaff {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .storyStaff > dd {
    margin-bottom: 0.5em;
  }
}

.label-pl {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #c58be0;
  min-width: 100px;
  min-height: 25px;
  height: auto;
  line-height: 21px;
  padding: 2px 5px;
}

h3.dotHead {
  font-size: 2rem;
  font-weight: 700;
  color: #c58be0;
  margin: 1em 0 1em;
  padding-bottom: 0.8em;
  background: linear-gradient(to right, #c58be0 4px, transparent 4px) bottom left/16px 4px repeat-x;
}
@media screen and (max-width: 767px) {
  h3.dotHead {
    text-align: center;
    background-position: bottom center;
  }
}

/* ***************
  CHARACTER
*************** */
:root {
  --chara-color01: #7683d9;
  --chara-color02: #fea0f4;
}

.color-no4 #cms_block {
  max-width: min(1900px, 100%);
  padding: 0 90px 0 0;
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: 1fr;
}
.color-no4 #cms_block > div[class^=page_] {
  grid-area: 1/2/2/3;
}
.color-no4 #cms_block > .c_list_block {
  grid-area: 1/3/2/4;
  padding-top: 20px;
}
@media screen and (max-width: 1023px) {
  .color-no4 #cms_block {
    padding-right: 17px;
  }
}
@media screen and (max-width: 767px) {
  .color-no4 #cms_block {
    display: block;
    max-width: 450px;
    padding-right: 0;
  }
  .color-no4 #cms_block > .c_list_block {
    display: none;
  }
}
.color-no4 .list_type06 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.color-no4 .list_type06 .nwu_box {
  position: relative;
  z-index: 10;
}
.color-no4 .list_type06 .nwu_box::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  bottom: 0;
  right: 0;
  width: auto;
  height: 80px;
  aspect-ratio: 113/100;
  background: url(../../images/main/cont/chara/circle.svg) right bottom/contain no-repeat;
}
.color-no4 .list_type06 .nwu_box.is-crt::before {
  background: linear-gradient(135deg, var(--chara-color02), var(--chara-color01)), #f8dd5d;
  -webkit-mask: url(../../images/main/cont/chara/bubble.svg) right bottom/100% auto no-repeat;
          mask: url(../../images/main/cont/chara/bubble.svg) right bottom/100% auto no-repeat;
}
.color-no4 .list_type06 .nwu_box:not(.is-crt):hover {
  transition: 0.5s cubic-bezier(0.25, -100, 0.5, 80);
  transform: translateY(-0.1px) scale(1, 1.001);
}
.color-no4 .list_type06 a {
  display: block;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
}
.color-no4 .list_type06 a:hover {
  opacity: 1;
}
@media screen and (max-width: 425px) {
  .color-no4 .list_type06 .nwu_box::before {
    height: 60px;
  }
}

.chara {
  display: grid;
  grid-template-columns: 1fr 36px 50%;
  grid-template-rows: 1fr;
  padding-right: 30px;
  max-width: 1000px;
  margin: auto;
  position: relative;
}
.chara__img {
  grid-area: 1/1/2/3;
  position: relative;
  z-index: 1;
}
.chara__info {
  grid-area: 1/2/2/4;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 1023px) {
  .chara {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .chara {
    display: block;
  }
  .chara__img {
    margin-bottom: 20px;
  }
  .chara__info {
    padding: 0 20px;
  }
}

.charaMain {
  display: grid;
  grid-template-columns: 1fr 55px;
  grid-template-rows: min(100px, 8vw) 1fr;
  position: relative;
  z-index: 10;
}
.charaMain__stand {
  grid-area: 1/1/3/2;
  text-align: center;
  transition: 0.7s ease-out, opacity 0.4s ease-in;
}
body:not(.is-open) .charaMain__stand {
  transform: translateY(100%);
  opacity: 0;
}
.charaMain__name {
  grid-area: 2/1/3/3;
  text-align: right;
  position: relative;
  z-index: -1;
  margin: 0 0 auto auto;
  max-width: 40%;
}
.charaMain__navi {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 80px;
}
.charaMain__navi .lp {
  border: none;
}
@media screen and (min-width: 768px) {
  .charaMain__navi {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .charaMain__navi {
    width: 60px;
  }
}

.charaBgName {
  display: inline-block;
  position: relative;
}
.charaBgName__line {
  position: absolute;
  z-index: -1;
  inset: 0;
  left: 13%;
  opacity: 0.1;
  background: linear-gradient(135deg, var(--chara-color01), var(--chara-color02));
  -webkit-mask: linear-gradient(135deg, black, rgba(0, 0, 0, 0));
          mask: linear-gradient(135deg, black, rgba(0, 0, 0, 0));
  transition: 0.7s ease-out, opacity 0.4s ease-in;
  transition-delay: 0.2s;
}
body:not(.is-open) .charaBgName__line {
  transform: translateY(100%);
  opacity: 0;
}

.charaInfo {
  padding-top: 170px;
}
.charaInfo__name {
  transition: 0.7s ease-out, opacity 0.4s ease-in;
  transition-delay: 1s;
}
body:not(.is-open) .charaInfo__name {
  transform: translateY(20px);
  opacity: 0;
}
.charaInfo__cv {
  margin-bottom: 100px;
  transition: 0.7s ease-out, opacity 0.4s ease-in;
  transition-delay: 1.1s;
}
body:not(.is-open) .charaInfo__cv {
  transform: translateY(20px);
  opacity: 0;
}
.charaInfo__text {
  line-height: 3.7rem;
  transition: 0.7s ease-out, opacity 0.4s ease-in;
  transition-delay: 1.2s;
}
body:not(.is-open) .charaInfo__text {
  transform: translateY(20px);
  opacity: 0;
}
@media screen and (max-width: 1023px) {
  .charaInfo {
    padding-top: 15vw;
  }
}
@media screen and (max-width: 767px) {
  .charaInfo {
    padding-top: 0;
  }
  .charaInfo__cv {
    margin-bottom: 40px;
  }
}

.charaName {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 1em;
}
.charaName__change {
  grid-area: 1/2/3/3;
}
body[data-lang=ja] .charaName__main {
  font-weight: 700;
  grid-area: 1/1/2/2;
}
body[data-lang=ja] .charaName__sub {
  font-size: 0.6em;
  font-weight: 100;
  letter-spacing: 0.2em;
  grid-area: 2/1/3/2;
}
body[data-lang=en] .charaName {
  flex-direction: column-reverse;
}
body[data-lang=en] .charaName__main {
  font-size: 0.6em;
  font-weight: 100;
  letter-spacing: 0.2em;
  grid-area: 2/1/3/2;
}
body[data-lang=en] .charaName__sub {
  font-weight: 700;
  grid-area: 1/1/2/2;
}

.charaCv {
  display: flex;
  align-items: flex-end;
  gap: 0.2em 1em;
  line-height: 1;
  font-size: 2.6rem;
  background: url(../../images/main/cont/chara/cv.png) left top/30px no-repeat;
  min-height: 30px;
  padding: 2px 0 2px 36px;
}
body[data-lang=ja] .charaCv__main {
  font-weight: 700;
}
body[data-lang=ja] .charaCv__sub {
  font-size: 0.6em;
  font-weight: 100;
  letter-spacing: 0.2em;
}
body[data-lang=en] .charaCv {
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-image: url(../../images/main/cont/chara/va.png);
}
body[data-lang=en] .charaCv__main {
  font-size: 0.6em;
  font-weight: 100;
  letter-spacing: 0.2em;
}
body[data-lang=en] .charaCv__sub {
  font-weight: 700;
}
@media screen and (max-width: 425px) {
  .charaCv {
    flex-direction: column;
    align-items: flex-start;
  }
  body[data-lang=en] .charaCv {
    flex-direction: column-reverse;
  }
}
#charaChange{
  width: 3em;
}
.changeWrap {
  position: relative;
}
.changeWrap__cont {
  transition: 0.5s ease;
  &:not(.-inview){
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateY(0px);
  }
}
/* ***************
  STAFF&CAST
*************** */
.staffcast {
  margin-bottom: 80px;
  padding: 0 20px;
}
.staffcast__head {
  margin-bottom: 60px;
}
.staffcast__body {
  max-width: 1000px;
  margin: auto;
}
.staffcast__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: min(100%, 1920px);
  height: 100%;
  margin: auto;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .staffcast__body {
    text-align: center;
  }
}

.nameArea {
  display: flex;
  flex-wrap: wrap;
}
.nameArea__cont {
  width: 50%;
  margin-bottom: 100px;
}
.nameArea__head {
  font-family: "Quicksand", "Noto Sans JP", "Noto Sans JP", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.05em;
  color: #6f6f6f;
  padding-left: 50px;
  margin-bottom: 35px;
}
.nameArea__body {
  padding-left: 68px;
}
@media screen and (max-width: 767px) {
  .nameArea {
    display: inline-block;
    text-align: left;
  }
  .nameArea__cont {
    width: 100%;
  }
  .nameArea__head {
    padding-left: 0;
  }
  .nameArea__body {
    padding-left: 18px;
  }
}

.nameList > li {
  margin-bottom: 50px;
}

.name {
  font-size: min(2.8rem, 7vw);
  color: #000;
}
.name__role {
  font-size: 0.6em;
}
.name__name {
  font-weight: 500;
}
.name__add {
  font-size: 0.5em;
}
.name .comBtn {
  width: 5.2rem;
  height: 4.3rem;
  filter: drop-shadow(3px 4px rgba(84, 0, 61, 0.1));
}

.staff {
  position: relative;
}
.staff__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: -1;
}

.cast {
  position: relative;
}
.cast__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: -1;
}

.staffcastBg__01 {
  position: absolute;
  top: 79.31%;
  right: 3.39%;
}

.staffBg__01 {
  position: absolute;
  top: max(-9.4vw, -24px);
  left: -31.2%;
}

.castBg__01 {
  position: absolute;
  top: 4.58%;
  left: -13%;
}
@media screen and (max-width: 767px) {
  .castBg__01 {
    left: auto;
    right: -13%;
  }
}

/* **************
COMMENT
************** */
.commentModal {
  position: fixed;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  padding: 40px 0;
  z-index: 3000;
  overflow: auto;
}
.commentModal__overlay {
  position: fixed;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  background: url(../../images/main/comment/balloon.png) top center/min(521px, 110%) no-repeat, #c58be0;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .commentModal {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  .commentModal__overlay {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
}

.comment {
  position: relative;
  z-index: 100;
  width: min(785px, 98%);
  margin: auto;
}
.comment__head {
  text-align: center;
  margin-bottom: 56px;
}
.comment__img {
  text-align: center;
}
.comment__img img {
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 24px;
  width: min(275px, 80%);
}

.commentBox {
  width: min(800px, 100% - 2em);
  margin: auto;
  padding: 2em 1em;
  background: #fff;
  border-radius: 10px;
}
.commentBox__name {
  margin-bottom: 2em;
  color: #9533af;
  background: radial-gradient(circle, #9533af 2px, transparent 2px) left bottom/10px 4px repeat-x;
  max-width: 700px;
  margin: auto auto 1.5em;
  padding-bottom: 1em;
}
.commentBox__text {
  max-width: 640px;
  margin: auto;
}

.commentName {
  text-align: center;
}
.commentName__name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}
.commentName__role {
  font-size: 1.6rem;
  line-height: 1.5;
}
.commentName__role i {
  display: inline-block;
  font-style: initial;
}

.modalCloseBtn {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 80px;
  height: 80px;
  z-index: 1000;
}
.modalCloseBtn::before, .modalCloseBtn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 4px;
  background: #fff;
}
.modalCloseBtn::before {
  transform: rotate(45deg);
}
.modalCloseBtn::after {
  transform: rotate(-45deg);
}
@media screen and (max-width: 767px) {
  .modalCloseBtn {
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
  }
}
/* **************
ON AIR
************** */
.housouCatch {
  text-align: center;
  margin-bottom: 4rem;
}
.housouCatch__head {
  font-size: clamp(2.4rem, 7vw, 5.6rem);
  font-family: YakuHanMP, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "游明朝 Medium", "Yu Mincho Medium", "游明朝", "Yu Mincho", YuMincho, serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
  color: #a468e7;
}
.housouCatch__head i {
  font-size: 0.7em;
  font-style: normal;
}

.housouList {
  display: flex;
  max-width: 750px;
  margin: auto auto 1.5em;
  font-size: 2rem;
  gap: 0.5em 1.5em;
}
.housouList dt {
  width: 12em;
  flex-shrink: 0;
}
.housouList dd {
  margin: 0;
}
.housouList__caut {
  font-size: 0.8em;
  line-height: 1.5;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .housouList {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.housouLabel {
  display: block;
  width: 100%;
  text-align: center;
  background: url(../../images/main/cont/onair/bg.jpg) center center/cover no-repeat;
  color: #fff;
  font-weight: 700;
}
.haishin {
  text-align: center;
}
.haishin__head {
  font-size: 1.5em;
  font-weight: 700;
}
ul.haishinList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media screen and (max-width: 899px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    max-width: 450px;
    margin: auto;
  }
}

a.buttonLink {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0;
  background: linear-gradient(135deg, #ecbad7, #be96ff);
  min-height: 4em;
  padding: 0.5em 1em;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  &:hover{
    opacity:1;
    background: linear-gradient(-45deg, #ecbad7, #be96ff);
    filter: brightness(1.1);
  }
  .-small{
    width: 100%;
    font-size: 0.7em;
  }
}
/* ---------------
  Bluray/DVD
--------------- */
/* 日本語オンリー */
.color-no6 .js-langSwitch[data-lang=ja]::before {
  transform: scale(1);
}
.color-no6 .js-langSwitch[data-lang=en] {
  display: none;
}
.color-no6 #g_navi.is-open .js-langSwitch[data-lang=ja] {
  color: #c58be0;
}

.color-no6 .type_1_u .img_u {
  text-align: center;
}
.color-no6 h2.articleHead {
margin: 0 0 40px 0;
padding: 0 0 20px 0;
font-size: min(3rem, 7vw);
text-align: center;
color: #47bcc6;
border-bottom: 2px solid #47bcc6;
}
.color-no6 h2.articleHead.edition {
margin: 0 0 20px 0;
}
.color-no6 h2.articleHead.edition {
  font-size: min(3.2rem, 6vw)!important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-no6 h2.articleHead.edition span{
  font-size: 0.5em;
  line-height: 1.5em;
}
.color-no6 .title_edition {
margin: 0 0 40px 0;
font-size: min(2rem, 4vw);
text-align: center;
font-weight: bold;
color: #f590ca;
}
.color-no6 h3.articleHead {
font-size: min(2rem, 4vw);
text-align: center;
color: #ea6094;
border-bottom: 2px dotted #ea6094;
}
.color-no6 .line_01 {
  margin: 0 0 3em 0;
}
.color-no6 .read_l {
  margin: 0 0 0 2em !important;
}
.bdOnSale {
  margin: 0 0 1em 0;
  font-family: YakuHanMP, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "游明朝 Medium", "Yu Mincho Medium", "游明朝", "Yu Mincho", YuMincho, serif;
  font-size: min(3rem,6vw);
  line-height: 1.2em;
  font-weight: 800;
}
.color-no6 dd {
  margin: 0 0 0 1em;
}
.bdDvdNav {
  display: block;
  max-width: 700px;
  margin: auto;
  .c_list_block{
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    &#c_list_block_0002{
      background: #fbe6ef;
      padding: 5px;
      .bdDvdTitile{
        color: #ff0683;
      }
    }
    &#c_list_block_0003{
      background: #d6f8fb;
      padding: 5px;
      .bdDvdTitile{
        color: #47bcc6;
      }
    }
  }
  .list_type01{
    flex: 1;
    table,tr,th,td{
      display:block;
    }
    tbody{
      display: flex;
    }
    tr{
      flex: 1;
    }
  }
  .bdDvdTitile{
    width: 10em;
    flex-shrink: 0;
  }
}
.bdDvdTitile {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 600px){
  .bdDvdNav {
    .c_list_block{
      flex-direction:column;
      .list_type01{
        width: 100%;
      }
    }
  }
}
.color-no6 .c_list_block .title {
padding: 0 3px;
}
#ContentsListUnit02 a,
#ContentsListUnit03 a,
#ContentsListUnit04 a {
display: block;
padding: 20px 0;
color: #fff;
text-decoration: none;
line-height: 1em;
text-align: center;
background: #bbb;
border-radius: 8px;
}
#ContentsListUnit02 .is-crt a,
#ContentsListUnit03 .is-crt a,
#ContentsListUnit04 .is-crt a {
background: #f590ca;
}
#cms_block .page_25 {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
#cms_block .page_25 .line_00 {
  width: 100%;
}
#cms_block .page_25 .block.bddvdTokutenArea {
width: calc(50% - 15px);
margin: 0 0 20px 0;
padding: 20px;
border: 1px solid #ccc;
border-radius: 8px;
.ph{
  background: url(../../images/main/cont/bddvd/bg.png) center center / 5px;
  aspect-ratio: 1/1;
  width: 100%;
  padding: 1rem;
  >img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 601px){
  &.-wide {
	width: 100%;
    .img_l{
	max-width: 100%;
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 0em 70px;
    .ph{
      &:nth-child(1){
      grid-area: 1/1/2/2;
      }
      &:nth-child(3){
      grid-area: 1/2/2/3;
      }
      &:nth-child(5){
      grid-area: 3/1/4/2;
      }
      &:nth-child(7){
      grid-area: 3/2/4/3;
      }
    }
    .cap{
      margin-bottom: 2em;
      &:nth-child(2){
        grid-area: 2/1/3/2;
      }
      &:nth-child(4){
        grid-area: 2/2/3/3;
      }
      &:nth-child(6){
        grid-area: 4/1/5/2;
      }
      &:nth-child(8){
        grid-area: 4/2/5/3;
      }
    }
    }
  }
}
}
.bddvdTokuten__item{
	font-size: 1.2em;
	font-weight: 700;
	color: #ea6094;
	line-height: 1.2;
	border-bottom: 1px dotted #333;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
  text-align: center;
	.target{
	background: #ea6094;
	color: #fff;
	padding: 0.25em;
	margin-bottom: 0.5em;
	}
}
#cms_block .page_15 .block.bddvdTokutenArea h3 {
margin: 0 0 20px 0;
padding: 0 0 20px 0;
}
.bddvdLink a {
display: block;
padding: 8px;
color: #fff;
text-decoration: none;
line-height: 1em;
text-align: center;
background: #c58be0;
border-radius: 8px;
}
.bddvdLink a::after {
content: "";
display: inline-block;
width: 12px;
height: 12px;
border-top: 1px solid #fff;
border-right: 1px solid #fff;
transform: rotate(45deg);
}
#cms_block .page_25 .img_l {
float: none !important;
}
@media screen and (max-width: 600px) {
	#cms_block .page_25 .block.bddvdTokutenArea {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 15px;
	}
}
.bookSign {
  display: flex;
  gap: 0.5em 1.5em;
  flex-wrap: wrap;
  max-width: 85vw;
}

.bookSign__img {
  width: 350px;
  max-width: 100%;
}
.contents-no25 h3.articleHead{
  font-size: clamp(2.0rem, 6vw, 2.4rem)!important;
  padding-bottom: 0.75em!important;
  margin-top: 0.5em!important;
}
.contents-no26 h2.articleHead{
  font-size: clamp(2.2rem, 6vw, 2.8rem)!important;
}

/* ---------------
  Goods
--------------- */
/* 日本語オンリー */
.color-no10 .js-langSwitch[data-lang=ja]::before {
  transform: scale(1);
}
.color-no10 .js-langSwitch[data-lang=en] {
  display: none;
}
.color-no10 #g_navi.is-open .js-langSwitch[data-lang=ja] {
  color: #c58be0;
}
.color-no10 {
  #list_06 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    >.nwu_box {
      margin: 0;
    }
    @media screen and (max-width: 899px) {
      gap: 20px;
    }
    @media screen and (max-width: 600px) {
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
    .sm {
      position: relative;
      overflow: hidden;
      background: #fff;
      margin: 0 0 8px;
      aspect-ratio: 1/1;
      filter: drop-shadow(1px 1px 5px rgba(0,0,0,.15));
      a {
        opacity: 1;
        posirion: relative;
        &::after{
          content:"";
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom right, rgba(197, 139, 224, 0.1), rgba(197, 139, 224, 0.3));
          opacity: 0;
          filter: blur(10px);
          transition: 1s linear;
        }
        img {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: contain;
          transition: .3s;
        }
        &:hover {
          filter: brightness(1.05);
          &::after{
            opacity: 0.3;
            filter: blur(0px);
          }
        }
      }
    }
    .title {
      a{
        color: inherit;
        text-decoration: inherit;
        line-height: 2;
        background: linear-gradient(transparent 0.7em, rgba(197, 139, 224, 0.2) 0.7em, rgba(197, 139, 224, 0.2) 2em, transparent 2em);
        padding: 0 0.5em;
      }
    }
  }
  .line_00 .atl_inner {
    margin: 50px 0 0;
    display: flex;
    font-size: 1.2em;
    @media screen and (min-width: 900px) {
      .img_l {
        width: 50%;
        margin: 0 16px 0 0;
        flex-shrink: 0;
      }
      .read{
        flex: 1;
      }
    }
    @media screen and (max-width: 899px) {
      flex-direction:column;
    }
  }
  .c-listTable{
    width: 100%;
    tr{
    }
    th,td{
      display: block;
    }
    td{
      padding: 0.5em 0 0.5em 1em;
      margin-bottom: 0.5em;
      background: linear-gradient(to right, #b2b2b2 2px, transparent 2px) bottom left / 6px 2px repeat-x;
    }
  }
}

